<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="blightblue">
                            <div class="pull-left"><i class="fa fa-plane"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">May 18 - 19, 2015</span> Castle Resort, Neverland
                            </div>
                            <div class="clearfix"></div>
                        </li>

                        <li class="borange"><a href="#/activities">
                            <div class="pull-left"><i class="fa fa-calendar"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">{{vm.activitiesCount}}</span> Activities
                            </div>
                            <div class="clearfix"></div></a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Incomplete Tasks"
                             allow-collapse="true"></div>
                        <div class="widget-content text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                <tr>
                                    <th>Activity</th>
                                    <th>Task</th>
                                    <th>Description</th>
                                    <th>Order</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Iterate through array -->
                                <tr role="button" data-ng-repeat="t in vm.tasks" data-ng-click="vm.goToTask(t)">
                                    <td>{{t.activity.name}}</td>
                                    <td>{{t.name}}</td>
                                    <td>{{t.description}}</tddata-ng-click="vm.goToTask(t.id)">
                                    <td>{{t.order}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="Active Activities"
                             allow-collapse="true"></div>
                        <div class="widget-content text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Activity</th>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Iterate through array -->
                                    <tr role="button" data-ng-repeat="t in vm.activities" data-ng-click="vm.goToActivity(t.activity)">
                                        <td>{{t.activity.name}}</td>
                                        <td>{{t.activity.id}}</td>
                                        <td>{{t.activity.name}}</td>
                                        <td>{{t.activity.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="widget wred">
                        <div class="widget-content">
                            test
                            <ng-map center="41,-87" zoom="3"></ng-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>