<div class="modal-dialog">
    <div class="modal-header">
        <h3 class="modal-title">Edit: {{tempFieldNote.name || "New Field Note"}}</h3>
    </div>

    <div class="modal-body">
        <div class="padd">
            <form class="form-horizontal" ng-submit="newFieldNote()" role="form">
                <tabset active="activeForm">
                    <tab index="0" heading="Details">
                        <div style="padding-top: 1em;"></div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Title</label>
                            <input class="col-md-8 form-control" size="50" data-ng-model="tempFieldNote.title" placeholder="Field Note Title" required/>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Description</label>

                            <textarea class="col-md-8 form-control" data-ng-model="tempFieldNote.description"
                                      placeholder="Field Note Description" style="height: 200px; width: 400px;"></textarea>
                        </div>
                        <div class="form-group">
                            <!-- Do Voice Recognition Here-->
                        </div>
                    </tab>
                    <tab index="1" heading="Files">
                        <div style="padding-top: 1em;"></div>
                        <form class="form-horizontal" ng-submit="newFiles()" role="form">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Select Files</label>
                                <input class="col-md-8 form-control" type="file" ngf-select="update($files)" data-ng-model="files" multiple />
                            </div>
                            <div class="form-group" data-ng-show="files.length > 0">
                                <ul class="file-upload">
                                    <li data-ng-repeat="f in files">
                                        <div class="col-md-4">
                                            <strong>
                                                <i class="fa fa-upload orange"></i>{{f.name}}
                                            </strong>
                                            <div class="file-meta">
                                                {{getSize(f.size)}}
                                            </div>
                                        </div>
                                        <input class="col-md-4" placeholder="ex: sun, yellow, circle" type="text" data-ng-model="tags[$index]" maxlength="50"/>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </tab>
                </tabset>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <div class="clearfix"></div>
        <button class="pull-left btn" data-ng-class="isRecording ? 'btn-danger' : 'btn-primary'">
            <i class="fa" data-ng-class="isRecording ? 'fa-microphone-' : 'fa-microphone'"></i>
            {{isRecording ? "Stop" : "Start"}}
        </button>
        <button class="btn btn-warning" type="button" ng-click="cancelNewFieldNote()">Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="newFieldNote()">Apply</button>
        <div class="clearfix"></div>
    </div>

</div>