<div class="modal-dialog">
    <div class="modal-header">
        <h3 class="modal-title">Task: {{tempActivity.name}}</h3>
    </div>

    <div class="modal-body">
        <div class="padd">
            <form class="form-horizontal" ng-submit="newTask()" role="form">
                <div class="form-group">
                    <label class="col-md-2 control-label">Task Name</label>
                    <input class="col-md-8 form-control" size="50" data-ng-model="tempTask.name" placeholder="Activity Name" />
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Task Description</label><br/>
                    <textarea class="col-md-8 form-control" data-ng-model="tempTask.description"
                              placeholder="Activity Description" style="height: 200px; width: 400px;"></textarea>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Previous Task</label>
                    <select class="col-md-8 form-control" data-ng-options="t.name for t in tasks" data-ng-model="tempTask.previousTask">
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <ngMap></ngMap>
                </div>
            </form>
        </div>
    </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="newTask()">Apply</button>
            <button class="btn btn-warning" type="button" ng-click="cancelNewTask()">Cancel</button>
        </div>

</div>