<section class="mainbar" data-ng-controller="files as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="form-search">
                    <input class="input-sm search-query"
                           data-ng-model="vm.filesSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="Name, Extension, Tags"/>
                </div>
            </div>
            <div class="row-fluid">
                <div class="widget worange">
                    <div data-cc-widget-header title="{{vm.title}}"
                         subtitle="{{vm.filteredFiles.length}} / {{vm.files.length}}"></div>
                    <div class="widget-content user">
                        <div class="padd list-flow fader-animation" data-ng-repeat="f in vm.filteredFiles">
                            <div class="user">
                                <i class="fa fa-file fa-5x"></i>
                                <div class="name-stack">
                                    <h5>{{f.name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
