<section class="mainbar" data-ng-controller="taskdashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.task.name}}"
                         subtitle="{{vm.task.description}}" data-ng-dblclick="vm.editTask()">
                    </div>
                    <div class="widget-content user">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="widget wdarkblue">
                                    <div data-cc-widget-header title="Task Location"
                                         allow-collapse="true"></div>
                                    <div class="widget-content">
                                        <ng-map id="taskMap">
                                        </ng-map>
                                    </div>
                                    <div class="widget-foot">
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="widget wdarkblue">
                                    <div data-cc-widget-header title="Field Notes"
                                        subtitle="{{vm.filteredFieldnotes.length}} / {{vm.fieldNotes.length}}">
                                         allow-collapse="true"></div>
                                    <div class="widget-content text-info">
                                        <table class="table table-condensed table-striped table-hover">
                                            <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Files</th>
                                                <th>Reporters</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="fn in vm.filteredFieldnotes">
                                                <td>{{fn.title}}</td>
                                                <td>{{fn.mediaFiles.length}}</td>
                                                <td>{{fn.uniqueReporters}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="widget-foot">
                                        <div class="clearfix"></div>
                                        <div class="form-search pull-left">
                                            <input class="input-sm search-query"
                                                   data-ng-model="vm.fieldNotesSearch"
                                                   data-ng-keyup="vm.search($event)"
                                                   placeholder="Title, Description, Manager" />
                                        </div>
                                        <button class="btn btn-primary pull-right" data-ng-disabled="!vm.canEdit()" data-ng-click="vm.newFieldNote()">New</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                        <div class="pull-left">
                            <button class="btn btn-info" data-ng-click="vm.goBack()">
                                <i class="fa fa-arrow-left"></i>Back
                            </button>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-info" data-ng-disabled="!vm.canEdit()" data-ng-click="vm.editTask()">
                                <i class="fa fa-pencil"></i>Edit
                            </button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="widget wdarkerblue">
                    <div data-cc-widget-header title="Task Files"
                         subtitle="{{vm.files.length}}"></div>
                    <div class="widget-content user">
                        <div class="padd list-flow fader-animation" data-ng-repeat="f in vm.files">
                            <div class="user file">
                                <a target="_self" data-cc-file-download-path="{{f.name}}" download="{{f.name}}">
                                    <i data-cc-file-image="{{f.name}}"></i>
                                    <div class="name-stack">
                                        <h6>{{f.name}}</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
